<%-include("../Partials/header.ejs")%>
<div class="middle">   
    <div class="abcd">
        <p>Sorry your vote was already submitted</p>
        <a href="/dashboard/teams/<%-teamname%>">Teams</a>
    </div>
</div>
</body>
<style>
.abcd
{
    font-size: 3vw;
    left:20%;
    right:20%;
    text-align: center;
    top:5%;
}
</style>
</html>