<%-include("../Partials/header.ejs")%>
    <div class="middle">
        <div class="teams-list">
            <p class="heading">Your team List</p>
            <form method="POST" action="/dashboard/teams/create">
                <div>
                <label for="teamname">Enter you Team Name</label>
                <input class="input" type="text" name="teamname" required>
                <button type="submit">Create</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>