<%-include("../Partials/header.ejs")%>
    
    <div class="middle">
        <div class="welcome">
            <strong>
                Welcome Back!! 
            </strong>
        </div>
    </div>
</body>
</html>