<%-include("../Partials/header.ejs")%>
<div class="middle">
       <p class="heading-1">Join a Team</p>
       <div class="team-link">
            <form method="POST" action="/dashboard/teams/join">
            <label for="teamlink">Paste the Team Code to join the team</label>
            <input class="input" name="teamcode" placeholder="Team Code" required/>
            <br><br>
            <button id="link" type="submit">Join</button>
            </form>
       </div>    
</div>
</body>
</html>