<%-include("../Partials/header.ejs")%>
<div class="middle">
    <div class="teams-list">
        <p>Invalid Link</p>
        <p>Please Check the link</p><br>
        <a href="/dashboard/teams" class="a">Go to Teams</a>
    </div>    
</div>
</body>
<style>
    .a
    {
        text-align: center;
        text-decoration: none;
    }
</style>
</html>