<%-include("../Partials/header")%>
<div class="middle">
    <div class="teams-list">
        <p>The Poll with same name already exists in the team</p>
        <p>Please try with some other name</p><br><br>
        <a href="/dashboard/teams/<%-teamname%>"id="notextdec">Teams</a>
    </div>
</div>
<style>
#notextdec
{
    text-decoration: none;
    text-align:center;
}
</style>
</body>
</html>