<%-include("../Partials/header.ejs")%>
<div class="middle">
    
    <div class="teams-list">
        <p class="heading"><strong>Team List :</strong></p>
        <%User.teams.forEach(function(team){%>
        <a href="/dashboard/teams/<%-team%>" id="create-team"><li class="li"><%=team%></li></a>
        <%});%>
        <a href="/dashboard/teams/create" id="create-team"><li class="li">Create a new team</li></a>
    </div>
</div>
   
</body>
</html>
